<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center" >
   <div><h2> LEKCJE </h2></div>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DATA</th>
                    <th>GODZINA</th>
                    <th>KURSANT</th>
                    <th>INSTRUKTOR</th>
                </tr>
            </thead>

            <tbody>
                <th:block th:each="lesson : ${lessonList}">
                    <tr>
                        <td>[[${lesson.lesson_id}]]</td>
                        <td>[[${lesson.date}]]</td>
                        <td>[[${lesson.time}]]</td>
                        <td>[[${lesson.students.getStudent_id()}]]</td>
                        <td>[[${lesson.instructor.getInstructor_id()}]]</td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>