<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body style="background-color: #56baed;">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="inactive underlineHover"><a href="login">Zaloguj</a></h2>
        <h2 class="active"><a href="registration">Zarejestruj</a></h2>


        <!-- Register Form -->
        <form th:action="@{/registration}" method="post" th:object="${student}">
            <input id="firstName" type="text" class = "form-control" th:field="${student.firstName}" placeholder="Imie" required autofocus/>
            <input id="lastName" type="text" class = "form-control" th:field="${student.lastName}" placeholder="Nazwisko" required autofocus/>
            <input id="mail" type="email" class = "form-control" th:field="${student.mail}" placeholder="e-mail" required autofocus/>
            <input id="phone" type="number" class = "form-control" th:field="${student.phone}" placeholder="telefon" required autofocus/>
            <input id="password" type="password" class = "form-control" th:field="${student.password}" placeholder="haslo" required autofocus/>
            <input type="submit" class="fadeIn fourth" name="login-submit" id="login-submit" value="Zarejestruj" />
        </form>


    </div>
</div>
</body>
</html>